<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
</head>
<body>

<h1>Bienvenue dans l'espace de gestion</h1>

<a href="/logout<% if (typeof accessToken !==
        'undefined') { %>?access_token=<%= accessToken %><% } %>">Log
    out</a>

</body>
</html>