<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
</head>
<body>

<% if(accessToken){ %>
    <a href="/logout">Déconnexion</a>
<% } else{ %>
    <a href="/login">Se connecter</a>
<% } %>

<h1>Page d'accueil</h1>



</body>
</html>